<header>
    <div class="container">
      <h1 class="logo">GUNGAME</h1>
      <h1 class="logoImg"><img src="assets/hs.png" alt="logo" /></h1>

      <nav>
        <ul>
          <li><a href="#" routerLink="/home" routerLinkActive="active">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#" routerLink="/login" routerLinkActive="active">Login</a></li>
          <li><a href="#" routerLink="/register" routerLinkActive="active">Sign up</a></li>
        </ul>
      </nav>
    </div>
  </header>
