body {
  background: #eee;
}

.product-image {
  width: 100%;
}

.spec-1 {
  color: #938787;
  font-size: 15px;
}

h5 {
  font-weight: 400;
}

.para {
  font-size: 16px;
}

.col-md-3.mt-1 {
  max-width: 200px;
  max-height: 200px;
}

.row.p-2.bg-white.border.rounded {
  margin-top: 2em;
}

.buttons {
  display: inline-block;
}

.add-eq {
  text-align: center;
  margin-left: 8em;
}

.form-inline {
  margin-top: 1.5em;
  margin-left: 18em;
}

.form-control.mr-sm-2 {
  border-color: rgb(0, 0, 0);
}

.info-txt {
  color: white;
}

.afterWish.row.p-2.bg-white.border.rounded {
  color: rgb(0, 0, 0);
  border: 4px !important;
  border-color: rgb(100, 100, 100) !important;
  border-style: solid !important;
}

.afterWishv2.btn-outline-primary {
  background-color: rgb(100, 100, 100);
  color: #ffffff;
  border-color: rgb(0, 0, 0);
}
