<div class="container-fluid ps-md-0">
    <div class="row g-0">
      <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
      <div class="col-md-8 col-lg-6">
        <div class="login d-flex align-items-center py-5">
          <div class="container">
            <div class="row">
              <div class="col-md-9 col-lg-8 mx-auto">
                <h2 class="login-heading mb-4">Sign up!</h2>
  
                <!-- Sign In Form -->
                <form #addForm="ngForm" (ngSubmit)="addUser(addForm)">
                  <div class="form-floating mb-3">
                    <input type="username" ngModel name="userName" class="form-control" id="floatingInput" placeholder="Username" required>
                    <label for="floatingInput">userName</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="password" ngModel name="password" class="form-control" id="floatingPassword" placeholder="Password" required>
                    <label for="floatingPassword">Password</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="email" ngModel name="email" class="form-control" id="floatingEmail" placeholder="Email" required>
                    <label for="floatingEmail">Email</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="phone" ngModel name="phone" class="form-control" id="floatingPhone" placeholder="Phone" required>
                    <label for="floatingPhone">Phone</label>
                  </div>
  
                  
  
                  <div class="d-grid">
                    <button [disabled]="addForm.invalid" class="btn btn-lg btn-primary btn-login text-uppercase fw-bold mb-2" type="submit">Sign up</button>
                    
                  </div>
  
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

